# ignore corpus
/DEV
inverted_index2.txt
doc_id_map.txt
/__pycache__
partial_index1.txt
partial_index2.txt
partial_index3.txt
tfidf_index.txt
word_offsets.txt
merged_index.txt
new_inverted_index.txt
important_text_inverted.txt
imptext_offsets.txt